<head>

 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
</head>
<div class="row">
  <%= form_for @user do |f|%>
  <div class="col-sm-1"><%= f.label :username %></div>
  <div class="col-sm-3"><%= f.text_field :username %></div>
</div>
<div class="row">
  <div class="col-sm-1"><%= f.label :password %></div>
  <div class="col-sm-3"><%= f.password_field :password %></div>

  <div class="col-sm-3"><%= f.submit %></div>
</div>
  <% end %>
