<h3>Welcome <%= @user.username %></h3>



<%= form_tag('/log_out', method: :delete) do %>
<%= submit_tag "Log-Out " %>
<% end %>



<% if @user.api_key %>

  <ul>
    <% @fees.each do |fee| %>
      <li>
        <%= fee.to_s %>
      </li>
    <% end %>
  </ul>

<% else %>

  <%= form_tag('/api_entry', method: :post) do %>
  <%= text_field_tag :key %>
  <%= submit_tag "submit " %>
  <% end %>

<% end %>
