<!DOCTYPE html>
<html>
<head>

 <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %> -->
</head>








<h3>Welcome <%= @user.username %></h3>



<%= form_tag('/log_out', method: :delete) do %>
<%= submit_tag "Log-Out " %>
<% end %>

<div>Submit your api info below </div>

<% if @user.api_key %>

  <p>your fees for the period are:
    <strong>$<%= @fees %></strong>

  </p>
  <p>
    your api key contains the following numerals: <strong><%= @user.api_key.gsub!(/[^0123456789 ]/,'') %></strong>
  </p>
  <p>
    for security all letters have been omitted.

  </p>

<% else %>


  <%= form_tag('/api_key', method: :post) do %>
  <%= text_field_tag :api_key %>
  <%= submit_tag "submit " %>
  <% end %>

<% end %>

<strong>Select your date range</strong>
<h3 id="start">
<%= form_tag('/end_dates', method: :post) do %>
<%= select_date(Date.today-30, :prefix => 'start') %>
</h1>
<h3 id="end">
<%= select_date(Date.today, :prefix => 'end') %>
<%= submit_tag "submit " %>
</h1>
<% end %>



</h3>
</body>
