<!DOCTYPE html>
<html>
<head>

 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
</head>



<body class="bg-primary">


<header class="text-muted jumbotron container-fluid">
  <div class="row">

    <div class="col-sm-4"><a href="/" class="text-muted"><strong> Stripe Fees </strong></a></div>

    <div class="col-sm-4">Welcome <%= @user.username %>
    </div>


    <div class="col-sm-4">
    <%= form_tag('/log_out', method: :delete) do %>
    <%= submit_tag "Log-Out " %>
    <% end %>
    </div>
  </div>
</header>

<article class="bg-info text-info">
<p>

<% if @user.api_key %>

Your fees for the period are:
    <strong>$<%= @fees %></strong>

(if you have not entered a date range, this will be $0 by default)
  </p>
  <p>
    Your api key contains the following numerals: <strong><%= @user.api_key.gsub!(/[^0123456789 ]/,'') %></strong>
  </p>
  <p>
    For security all letters have been omitted.

  </p>
  <strong>Select your date range*</strong>
  <div class="text-muted row">

      <div class="col-sm-4">

  <%= form_tag('/end_dates', method: :post) do %>
  <%= select_date(Date.today-30, :prefix => 'start') %>
      </div>
      <div class="col-sm-1">
        to
      </div>

      <div class="col-sm-5">

  <%= select_date(Date.today, :prefix => 'end') %>
  <%= submit_tag "submit " %>

  <% end %>

      </div>
      <div class="text-warning">
      <%= form_tag('/api_key', method: :delete) do %>
      <%= submit_tag "Enter a new API key" %>
      <% end %>
</article>
<strong><%= @fees_2 %></strong>
<p><small> *The date you you select presumes 12:00 am GMT on that date. So, if, for example, you want to see fees for transaction for the entire month of May, it is suggested you use 5/1 - 6/1 as your search parameters. To that end, <strong class="text-warning">your beginning date should not be the same as your end date or your search will yield $0.</strong> Because it is based on GMT, please keep in mind transactions that occur within several hours of the beginning or end of a search date may not fall within your search parameters. </small></p>


<% else %>
<div class="row">

  <div class="col-sm-4">Submit your Stripe Live Secrect Key below
  <%= form_tag('/api_key', method: :post) do %>
  <%= text_field_tag :api_key %>
  <%= submit_tag "submit " %>
  <% end %>


  </div>
  <div class="col-sm-8">

<img src="http://zippy.gfycat.com/CandidGrossArabianhorse.gif" alt="" height="300" width="500"/>
  </div>
</div>
<% end %>
</body>
</html>
