



<body class="bg-primary">


<div class="navbar navbar-default navbar-inverse navbar-fixed-top">

  <div class="fluid-container row">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

      <div class="col-sm-4 icon-bar"><a href="/" class="text-muted"><strong> Stripe Fees </strong></a></div>

      <div class="col-sm-4 text-muted icon-bar">Welcome <%= @user.username %>
      </div>


      <div class="col-sm-4 text-info matt icon-bar">
      <%= form_tag('/log_out', method: :delete) do %>
      <%= submit_tag "Log-Out" %>
      <% end %>
      </div>
      <!-- <div class="collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><strong> Stripe Fees </strong></li>
          <li class="text-muted">Welcome <%= @user.username %></li>
        </ul>
      </div>  -->
    </button>

  </div>
  <div class="navbar-collapse collapse">
    <!-- <ul class="nav navbar-nav"> -->
      <div class="col-sm-4 icon-bar"><a href="/" class="text-muted"><strong> Stripe Fees </strong></a></div>

      <div class="col-sm-4 text-muted icon-bar">Welcome <%= @user.username %>
      </div>


      <div class="col-sm-4 text-info matt icon-bar">
      <%= form_tag('/log_out', method: :delete) do %>
      <%= submit_tag "Log-Out" %>
      <% end %>
      </div>

    
  </div>

</div>

<article class="bg-info text-info container-fluid">
<p>

<% if @user.api_key %>

Your fees for the period <%= @start_month %>/<%= @start_day %>/<%= @start_year %> to <%= @end_month %>/<%= @end_day %>/<%= @end_year %> are:
    <strong>$<%= @fees %></strong>
</p>
    <% if @fees != 0 %>
    <button id="hi">click here to see a breakdown of your fees</button>
    <script>
      $("#hi").click(function(){
        $('#hi').html('<strong class="text-info" id="hi2"><%= @fees_2 %> Transactions with fees of $0 are ommited from this array. </strong>')
      });

    </script>
    <% else %>
    <p>*You have not yet entered a date range. Please do so below*</p>
    <% end %>
  <p>
    Your api key contains the following numerals: <strong><%= @user.api_key.gsub!(/[^0123456789 ]/,'') +"..." %></strong>

    For security all letters have been omitted.

  </p>
  <strong>Select your date range*</strong>
  <div class="text-info row">

      <div class="col-sm-4">

  <%= form_tag('/end_dates', method: :post) do %>
  <%= select_date(Date.today-30, :prefix => 'start') %>
      </div>
      <div class="col-sm-1">
        to
      </div>

      <div class="col-sm-5">

  <%= select_date(Date.today, :prefix => 'end') %>
  <%= button_tag "submit", 'data-disable-with' => "<div class='i'></div> loading".html_safe %>

  <div class='i hidden'></div>
</div>
</article>
  <% end %>





  <!-- <strong><%= @fees_2 %></strong>  Transactions with fees of $0 are ommited from this array. -->

  <p class="fluid-container pull-left"><small> *The date you you select presumes 12:00 am GMT on that date. So, if, for example, you want to see fees on transactions for the entire month of May, it is suggested you use 5/1 - 6/1 as your search parameters. To that end, <strong class="text-warning">your beginning date should not be the same as your end date or your search will yield $0.</strong> Because it is based on GMT, please keep in mind transactions that occur within several hours of the beginning or end of a search date may not fall within your search parameters. </small></p>

  <div class="text-info matt matt-center">
  <%= form_tag('/api_key', method: :delete) do %>
  <%= submit_tag "Enter a new API key" %>
  <% end %>
  </div>

<% else %>

<div class="fluid-container">

  <div class="col-md-12 col-sm-offset-4" style="width:90%">Submit your Stripe Live Secret Key below
  </div>
  <div class="col-md-12 col-sm-offset-4">
  <%= form_tag('/api_key', method: :post) do %>
  <%= text_field_tag :api_key %>
  <%= button_tag "submit", 'data-disable-with' => "<div class='i'></div> loading".html_safe %>
  <% end %>
  </div>
  <div class="col-sm-12 col-sm-offset-2">

<img src="/stripe-fees.gif" alt="" width="70%"/>
  </div>
</div>
<% end %>
</body>
